.wd-search-tuiter {
    bottom: 7px;
    left: 10px;
    color: gray;
}

.wd-nav-tabs {
    width: 100%;
    color: rgb(29,161,242);
    padding: 0px;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
}

.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px rgb(29,161,242);
}


.wd-images-to-follow {
    width: 50px;
    height: 50px;
}
body{
    background-color: black;
}

.wd-magnifying-glass {
    bottom: 10px;
    left: 15px;
    color: rgb(110, 118, 125);
}

.wd-input-field {
    background-color: darkgray;
    border: black;
    color: darkgray;
}

.wd-bg-blk-txt-white {
    background-color: black;
    color: white;
}

.wd-darkgrey {
    background-color: darkgray;
}

.wd-who-to-follow {
    background-color: #2c3034;
    color: white;
}

.wd-border {
    border-bottom: solid 1px rgb(6, 12, 16);
    border-left: solid 1px rgb(6, 12, 16);
    border-right: solid 1px rgb(6, 12, 16);
    border-radius: 0px;
}

.wd-left-right-border {
    border-left: solid 1px rgb(6, 12, 16);
    border-right: solid 1px rgb(6, 12, 16);
}

.nav-tabs > li.nav-item > a {
    background-color: black;
    color: darkgray;
    border: black;
}


.nav-tabs > li.nav-item > a.active {
    background-color: black;
    color: white;
    border-bottom: solid 5px rgb(29, 161, 242);
    padding-left: 0px;
    padding-right: 0px;
}

.wd-nav-margin-remove {
    margin-bottom: 0px!important;
    margin-top: 0px!important;
}

.wd-nav-arrangement {
    justify-content: space-around;
    border-bottom: black;
}

.wd-who-to-follow-btn > button {
    background-color: white;
    color: black;
    font-weight: bold;
    margin-right: 10px;
}